output/flags/China.png
output/flags/Finland.png
output/flags/France.png
output/flags/Germany.png
output/flags/Greece.png
output/flags/Hungary.png
output/flags/Italy.png
output/flags/Norway.png
output/flags/Spain.png
output/flags/Sweden.png
output/flags/Switzerland.png
